@charset "utf-8";
.hxMiddle .inner {
  text-align: center;
}
.hxMiddle .inner img {
  position: relative;
  max-width: 100%;
  height: auto;
}
.hxDefault.hxMiddle {
  height: 100%;
}
.hxdGridContainer {
  list-style: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.hxdColOverride {
  background: none !important;
  background-color: none !important;
  background-image: none !important;
}
